.bar{
    background: #900090;
    width: 100%;
    height: 60px;
    padding: 0 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{ 
    font-family: woodland;
    font-size: 3em;
    color: white;
}

.bar-right{
    display: flex;
    align-items: center;
}

/* Formulario */
.buscar{
    margin-right: 50px;
}

.buscar input[type="text"]{
    width: 300px;
    height: 25px;
    padding: 0px 8px;
    border: none;
    border-radius: 5px;
}

.buscar button{
    height: 25px;
    padding: 0px 8px;
    border: none;
    border-radius: 5px;
}

/* Iconos de redes sociales */
.icon{
    font-size: 1.3em;
    margin-right: 20px;
    color: white;
}