@charset "utf-8";

/* Carga de Fuentes */
@font-face{
  font-family: "robotoB";
  src: url("../fonts/Roboto-Black.ttf");
}

@font-face{
  font-family: "roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face{
  font-family: "woodland";
  src: url("../fonts/Woodland.ttf");
}

/* Margenes y bordes */
*{
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Border-Box Config */
html {
  box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;
}

/* Background */